<p>New chapter <strong><em><%= chapterTitle %></em></strong> has been published. It is part of <em><%= narrationTitle %></em>.</p>

<p>You can read it at <a href="<%= chapterUrl %>"><%= chapterUrl %></a>.</p>
