<p>The character <%= characterName %> in "<a href="<%= narrationLink %>"><%= narrationTitle %></a>" was abandoned. You can look for a new player for it by sending the <a href="<%= narrationLink %>">narration intro page</a> to potential players. In it, they will be able to claim the character again.</p>
