<p>NARROWS is an online storytelling system. Someone has created a character for you, and the first chapter of the story will (hopefully) come soon!</p>

<p>The story is called "<%= narrationTitle %>" and your character in the story is called <%= characterName %>. You can go to your <a href="<%= characterSheetLink %>">character sheet</a> at any time to read the (public) description and (private) backstory of your character, and the description of the other protagonists in the story.</p>

<p>Now it is only a matter of reading the character sheet and waiting until you receive the link to the first chapter via email. Have fun!</p>
