<p>Thanks for joining the story “<%= narrationTitle %>” as the character <%= characterName %>. You can go to your <a href="<%= characterSheetLink %>">character sheet</a> at any time to read and update the (public) description and (private) backstory of your character, and the description of the other protagonists in the story.</p>

<p>Now it is only a matter of reading the character sheet and waiting until you receive the link to the first chapter via email. Have fun!</p>
