<p>Welcome to the storytelling system NARROWS!</p>

<p>In order to continue using your account you need to verify your email
  address. You do so by visiting this link:</p>

<a href="<%= emailVerificationUrl %>"><%= emailVerificationUrl %></a>
