<p>Someone has requested a password reset for your NARROWS account. <strong>If it was not you, please ignore this message.</strong></p>

<p>To reset your password, click on this link:</p>

<a href="<%= passwordResetLink %>"><%= passwordResetLink %></a>
