@font-face {
  font-family: "StoryFont";
  src: url("../fonts/OldstyHPLHS.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
    margin: 0;
    background-color: #eee;
    font-family: Roboto;
}

h1 {
    margin-bottom: 10px;
}

nav.top-bar {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 10px;

    border-bottom: 2px solid #aaa;
}

nav.breadcrumbs {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="file"] {
    color: #eee;
    background-color: buttonface;
}

ul li {
    padding-top: 3px;
}

.app-container {
    padding: 30px;
    padding-top: 0;
}
.app-container-simple {
    max-width: 50em;
}

.login-page {
    margin-top: 30vh;
    text-align: center;
}
.site-title {
    margin-bottom: 20px;
    font-size: 24px;
}
.login-form {
    width: 100%;
}
.login-form .form-line label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}
.login-form .form-actions {
    margin-top: 5px;
}

#loader {
    width: 100%;
    height: 100%;

    text-align: center;
}
#loader-contents {
    padding-top: 40vh;
    font-family: "StoryFont";
}
#loader-contents .banner {
    font-family: "Roboto";
}
#loader, #loader button {
    font-size: 36px;
}
#loader button {
    font-family: StoryFont;
    padding: 15px;
}

#start-ui button {
    padding: 20px 30px;
    background-color: buttonface; /* Needed for Firefox for some reason */
}
#start-ui label {
    font-size: 14px;
}

.invisible {
    display: none;
}

.transparent {
    opacity: 0;
}

.banner {
    max-width: 50em;

    margin: 20px auto;
    padding: 10px 20px;

    color: #ddd;
}
.banner-success {
    background-color: #151;
}
.banner-error {
    background-color: #511;
}

.large-text-input {
    font-size: 200%;
}

.btn-bar {
    text-align: right;
}

.btn {
    border: 1px solid #ddd;
    margin: 0 3px;
    padding: 5px 10px;

    font-size: 18px;
    background-color: whitesmoke;
}

.btn-default {
    background-color: #113;
    color: #eee;
}

.btn-small {
    font-size: 12px;
}

.btn-inline {
    display: inline-block;
    padding: 0;
    font-size: 10px;
    vertical-align: middle;
}

.btn-inline.btn-add {
    min-width: 18px;
    min-height: 18px;
    padding-left: 0;

    background-position: 0 50%;
}

.btn-add {
    padding-left: 30px;
    background-image: url("/img/add.png");
    background-repeat: no-repeat;
    background-position: 8px 50%;
}

ul.thread-list {
    display: block;
    padding-left: 0;
    margin-top: 0;
}
ul.thread-list li {
    display: block;
    margin-bottom: 15px;
}
ul.thread-list li span.narrator {
    font-style: italic;
}
ul.thread-list .message {
    padding: 5px;
    white-space: pre-wrap;
}
ul.thread-list li .btn-bar {
    padding: 10px 5px 10px 0;
}

.ProseMirror {
    padding: 5px;
    color: #113;
    background-color: #eee;
    outline: -webkit-focus-ring-color auto 5px;
}

.ProseMirror p:first-child {
    margin-top: 0;
}
.ProseMirror p:last-child {
    margin-bottom: 0;
}

.ProseMirror img {
    width: 100%;
}

.ProseMirror .separator, .chapter .separator {
    height: 20px;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;

    background: url(/img/separator.png) no-repeat center;
}
.chapter .separator {
    max-width: 50em;
    background-color:  #e5e5e5;
}

.dialog-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;

    text-align: center;
    background-color: rgba(64, 64, 64, 0.6);
}

.dialog {
    width: 300px;

    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    padding: 15px;

    text-align: center;
    background-color: #eee;
}

.dialog-text {
    margin: 2em;
    font-size: 18px;
}

.editor-container {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    border: 1px solid black;
}

.editor-container .ProseMirror {
    min-height: 200px;
}
