.two-column {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
}
.two-column > section {
    width: 50%;
    padding-left: 10px;
}
.two-column > section:first-child {
    padding-left: 0;
    padding-right: 10px;
}
.two-column > section > *:first-child {
    margin-top: 0;
}

.no-content {
    opacity: 0.7;
}

input, .ProseMirror, .last-reaction-text {
    font-family: StoryFont;
}

main.page-aside {
    display: flex;
}

main.page-aside section {
    margin-right: 20px;
    flex-grow: 1;
}

.chapter-title {
    width: 100%;
    font-size: 20px;
}

ul.participant-list {
    display: inline-block;

    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;

    font-size: 85%;
}
ul.participant-list li {
    display: inline;
    padding-left: 1em;
}



/* Mentions */
.mention-1, .mention-1 img { background: linear-gradient(to top, #eaa, rgba(0, 0, 0, 0)); }
.mention-2, .mention-2 img { background: linear-gradient(to top, #aae, rgba(0, 0, 0, 0)); }
.mention-3, .mention-3 img { background: linear-gradient(to top, #aea, rgba(0, 0, 0, 0)); }
.mention-4, .mention-4 img { background: linear-gradient(to top, #eae, rgba(0, 0, 0, 0)); }
.mention-5, .mention-5 img { background: linear-gradient(to top, #eea, rgba(0, 0, 0, 0)); }
.mention-1.mention-2, .mention-1.mention-2 img { background: linear-gradient(to top, #eaa, #aae); }
.mention-1.mention-3, .mention-1.mention-3 img { background: linear-gradient(to top, #eaa, #aea); }
.mention-1.mention-4, .mention-1.mention-4 img { background: linear-gradient(to top, #eaa, #eae); }
.mention-1.mention-5, .mention-1.mention-5 img { background: linear-gradient(to top, #eaa, #eea); }
.mention-2.mention-3, .mention-2.mention-3 img { background: linear-gradient(to top, #aae, #aea); }
.mention-2.mention-4, .mention-2.mention-4 img { background: linear-gradient(to top, #aae, #eae); }
.mention-2.mention-5, .mention-2.mention-5 img { background: linear-gradient(to top, #aae, #eea); }
.mention-3.mention-4, .mention-3.mention-4 img { background: linear-gradient(to top, #aea, #eae); }
.mention-3.mention-5, .mention-3.mention-5 img { background: linear-gradient(to top, #aea, #eea); }
.mention-4.mention-5, .mention-4.mention-5 img { background: linear-gradient(to top, #eae, #eea); }
.mention-1.mention-2.mention-3, .mention-1.mention-2.mention-3 img { background: linear-gradient(to top, #eaa, #aae, #aea); }
.mention-1.mention-2.mention-4, .mention-1.mention-2.mention-4 img { background: linear-gradient(to top, #eaa, #aae, #eae); }
.mention-1.mention-2.mention-5, .mention-1.mention-2.mention-5 img { background: linear-gradient(to top, #eaa, #aae, #eea); }
.mention-1.mention-3.mention-4, .mention-1.mention-3.mention-4 img { background: linear-gradient(to top, #eaa, #aea, #eae); }
.mention-1.mention-3.mention-5, .mention-1.mention-3.mention-5 img { background: linear-gradient(to top, #eaa, #aea, #eea); }
.mention-1.mention-4.mention-5, .mention-1.mention-4.mention-5 img { background: linear-gradient(to top, #eaa, #eae, #eea); }
.mention-2.mention-3.mention-4, .mention-2.mention-3.mention-4 img { background: linear-gradient(to top, #aae, #aea, #eae); }
.mention-2.mention-3.mention-5, .mention-2.mention-3.mention-5 img { background: linear-gradient(to top, #aae, #aea, #eea); }
.mention-2.mention-4.mention-5, .mention-2.mention-4.mention-5 img { background: linear-gradient(to top, #aae, #eae, #eea); }
.mention-3.mention-4.mention-5, .mention-3.mention-4.mention-5 img { background: linear-gradient(to top, #aea, #eae, #eea); }
.mention-1.mention-2.mention-3.mention-4, .mention-1.mention-2.mention-3.mention-4 img { background: linear-gradient(to top, #eaa, #aae, #aea, #eae); }
.mention-1.mention-2.mention-3.mention-5, .mention-1.mention-2.mention-3.mention-5 img { background: linear-gradient(to top, #eaa, #aae, #aea, #eea); }
.mention-1.mention-2.mention-4.mention-5, .mention-1.mention-2.mention-4.mention-5 img { background: linear-gradient(to top, #eaa, #aae, #eae, #eea); }
.mention-1.mention-3.mention-4.mention-5, .mention-1.mention-3.mention-4.mention-5 img { background: linear-gradient(to top, #eaa, #aea, #eae, #eea); }
.mention-2.mention-3.mention-4.mention-5, .mention-2.mention-3.mention-4.mention-5 img { background: linear-gradient(to top, #aae, #aea, #eae, #eea); }

.chapter-media {
    display: flex;
    justify-content: space-between;

    margin: 10px 0;
}

.audio-selector select {
    margin-bottom: 0.5ex;
}

.bigger {
    font-size: 150%;
}

.image-selector select {
    margin-bottom: 0.5ex;
}

.tiny-image-preview {
    max-width: 100px;
    max-height: 100px;
}

.thread-list.narrator > li {
    margin-bottom: 30px;
}
.thread-list.narrator textarea {
    width: 100%;
}

.new-message textarea {
    width: 100%;
    /* max-width locks the user-resizing to be only vertical */
    max-width: 100%;
}

.reactions.narrator {
    display: block;
    padding-left: 0;
}
.reactions.narrator li {
    display: block;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.last-reactions.narrator, .last-chapters.narrator {
    display: block;
    padding-left: 0;
}
.last-reactions.narrator li, .last-chapters.narrator li {
    display: block;
    margin-bottom: 20px;
}
.last-reactions.narrator li .last-reaction-text {
    margin-top: 3px;
    padding: 5px;

    background: #ddd;
    white-space: pre-wrap;
}

ul.user-list {
    margin-top: 10px;
    padding-left: 0;
}
ul.user-list li {
    display: block;

    margin-bottom: 10px;
    padding-left: 10px;
}
ul.user-list li .user-label {
    font-size: 120%;
}

.expanded-user {
    padding: 10px;
    background: #ddd;
}

form.create-form {
    padding: 10px;
    background: #ddd;
}
form.create-form h2 {
    margin-top: 0;
}

/* ProseMirror dialogs */
.ProseMirror-prompt form {
    margin: 10px;
}
.ProseMirror-prompt form h5 {
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid black;
    padding: 0 15px 5px 15px;

    font-size: 18px;
    font-weight: bold;
}
.ProseMirror-prompt .ProseMirror-prompt-buttons {
    margin-top: 10px;
    text-align: right;
}
.ProseMirror-prompt .control-line {
    margin-top: 10px;
}
.ProseMirror-prompt .control-line select {
    margin-right: 5px;
}

.narration-finished, .narration-abandoned {
    position: relative; /* Needed for the ribbon to work */
    overflow: hidden; /* Needed for the ribbon to work */

    border: 1px solid #006;
    padding-right: 2px;

    background-color: #ddd;
}

.narration-list {
    display: flex;
    flex-wrap: wrap;
}
.narration-container {
    width: 500px;
    margin: 10px;
    border: 1px solid #aaa;
    padding: 10px;

    /* For the ribbon */
    position: relative;
    overflow: hidden;
}
.narration-header {
    display: flex;
    justify-content: space-between;
}
.narration-header h2 {
    margin: auto 0;
}
.narration-header > * {
    align-items: baseline;
}
.narration-header a {
    text-decoration: none;
}


.corner-ribbon {
    position: absolute;
    top: 25px;
    left: -50px;

    width: 200px;
    color: #f0f0f0;
    background: #006;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.corner-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.narration-status label {
    font-weight: normal;
}
