@font-face {
  font-family: "StoryFont";
  src: url("../fonts/OldstyHPLHS.otf");
}

#narrator-app {
    padding: 30px;
}

.two-column {
    display: flex;
    margin-top: 20px;
}
.two-column > section {
    width: 50%;
    padding-left: 10px;
}
.two-column > section:first-child {
    padding-left: 0;
    padding-right: 10px;
}
.two-column > section > *:first-child {
    margin-top: 0;
}

.no-content {
    opacity: 0.7;
}

input, .ProseMirror-content {
    font-family: StoryFont;
}

#editor-container {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    border: 1px solid black;
}

#editor-container .ProseMirror-content {
    padding: 5px;
    min-height: 200px;
    outline: -webkit-focus-ring-color auto 5px;
}

#editor-container .ProseMirror-content p:first-child {
    margin-top: 0;
}
#editor-container .ProseMirror-content p:last-child {
    margin-bottom: 0;
}

#editor-container .ProseMirror-content img {
    max-width: 100%;
}

#editor-container .ProseMirror-content hr {
    min-height: 20px;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;

    background: url(/img/separator.png) no-repeat center;
}

main.page-aside {
    display: flex;
}

main.page-aside section {
    margin-right: 20px;
    flex-grow: 1;
}

.chapter-title {
    width: 100%;
    font-size: 20px;
}

ul.participants {
    display: inline-block;

    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;

    font-size: 85%;
}
ul.participants li {
    display: inline;
    padding-left: 1em;
}

aside h2:first-child {
    margin-top: 0;
}
aside h2 {
    margin-bottom: 1ex;
}

aside {
    width: 180px;
    flex-shrink: 0;
}
aside ul {
    margin: 0;
    padding-left: 20px;

    font-size: 14px;
}



/* Mentions */
.mention-1 { background: linear-gradient(to top, #eaa, rgba(0, 0, 0, 0)); }
.mention-2 { background: linear-gradient(to top, #aae, rgba(0, 0, 0, 0)); }
.mention-3 { background: linear-gradient(to top, #aea, rgba(0, 0, 0, 0)); }
.mention-4 { background: linear-gradient(to top, #eae, rgba(0, 0, 0, 0)); }
.mention-5 { background: linear-gradient(to top, #eea, rgba(0, 0, 0, 0)); }
.mention-1.mention-2 { background: linear-gradient(to top, #eaa, #aae); }
.mention-1.mention-3 { background: linear-gradient(to top, #eaa, #aea); }
.mention-1.mention-4 { background: linear-gradient(to top, #eaa, #eae); }
.mention-1.mention-5 { background: linear-gradient(to top, #eaa, #eea); }
.mention-2.mention-3 { background: linear-gradient(to top, #aae, #aea); }
.mention-2.mention-4 { background: linear-gradient(to top, #aae, #eae); }
.mention-2.mention-5 { background: linear-gradient(to top, #aae, #eea); }
.mention-3.mention-4 { background: linear-gradient(to top, #aea, #eae); }
.mention-3.mention-5 { background: linear-gradient(to top, #aea, #eea); }
.mention-4.mention-5 { background: linear-gradient(to top, #eae, #eea); }
.mention-1.mention-2.mention-3 { background: linear-gradient(to top, #eaa, #aae, #aea); }
.mention-1.mention-2.mention-4 { background: linear-gradient(to top, #eaa, #aae, #eae); }
.mention-1.mention-2.mention-5 { background: linear-gradient(to top, #eaa, #aae, #eea); }
.mention-1.mention-3.mention-4 { background: linear-gradient(to top, #eaa, #aea, #eae); }
.mention-1.mention-3.mention-5 { background: linear-gradient(to top, #eaa, #aea, #eea); }
.mention-1.mention-4.mention-5 { background: linear-gradient(to top, #eaa, #eae, #eea); }
.mention-2.mention-3.mention-4 { background: linear-gradient(to top, #aae, #aea, #eae); }
.mention-2.mention-3.mention-5 { background: linear-gradient(to top, #aae, #aea, #eea); }
.mention-2.mention-4.mention-5 { background: linear-gradient(to top, #aae, #eae, #eea); }
.mention-3.mention-4.mention-5 { background: linear-gradient(to top, #aea, #eae, #eea); }
.mention-1.mention-2.mention-3.mention-4 { background: linear-gradient(to top, #eaa, #aae, #aea, #eae); }
.mention-1.mention-2.mention-3.mention-5 { background: linear-gradient(to top, #eaa, #aae, #aea, #eea); }
.mention-1.mention-2.mention-4.mention-5 { background: linear-gradient(to top, #eaa, #aae, #eae, #eea); }
.mention-1.mention-3.mention-4.mention-5 { background: linear-gradient(to top, #eaa, #aea, #eae, #eea); }
.mention-2.mention-3.mention-4.mention-5 { background: linear-gradient(to top, #aae, #aea, #eae, #eea); }


.chapter-media {
    display: flex;
    justify-content: space-between;

    margin: 10px 0;
}

.audio-selector select {
    display: block;
    margin-bottom: 0.5ex;
}

.bigger {
    font-size: 150%;
}

#new-media-file {
    display: none;
}

.image-selector select {
    display: block;
    margin-bottom: 0.5ex;
}

.tiny-image-preview {
    max-width: 100px;
    max-height: 100px;
}

.thread-list.narrator > li {
    margin-bottom: 30px;
}

.new-message textarea {
    width: 100%;
    /* max-width locks the user-resizing to be only vertical */
    max-width: 100%;
}

.reactions.narrator {
    display: block;
    padding-left: 0;
}
.reactions.narrator li {
    display: block;
    margin-bottom: 20px;
}

.last-reactions.narrator {
    display: block;
    padding-left: 0;
}
.last-reactions.narrator li {
    display: block;
    margin-bottom: 20px;
}

.last-reaction-text {
    margin-top: 3px;
    padding: 5px;
    background: #ddd;
}
