@font-face {
  font-family: "StoryFont";
  src: url("../fonts/OldstyHPLHS.otf");
}

body {
    background-color: black;
    color: #e5e5e5;
    font-family: StoryFont;
    margin: 0;
}

#top-image {
    background: url(#) no-repeat center center fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 120%;
    padding-top: 200px;

    color: #e5e5e5;

    text-align: center;
    font-size: 60px;
    text-shadow:
       3px  3px 0 #000,
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

#play-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#loader {
    position: fixed;
    top: 40%;
    z-index: 10;

    width: 100%;

    text-align: center;
}

#loader, #loader button {
    font-size: 36px;
}

#loader button {
    font-family: StoryFont;
    padding: 15px;
}

#start-ui button {
    padding: 20px 30px;
}

#start-ui label {
    font-size: 14px;
}

#fragment-container {
    transition: opacity 7s;
}

.invisible {
    display: none;
}

.transparent {
    opacity: 0;
}

.fragment {
    margin-top: 500px;
    color: black;
}

.fragment > p, .fragment > blockquote {
    width: 50em;
    font-size: 16px;
    line-height: 18px;
    text-align: justify;

    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    background-color: #e5e5e5;
}

.fragment > p:first-child {
    padding-top: 20px;
}

.fragment > p:first-child::first-letter {
    float: left;
    
    font-size: 60px;
    line-height: 54px;
    margin-right: 3px;
}

.fragment ul, .fragment ol {
    width: 50em;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #e5e5e5;
}

.fragment li {
    margin-left: 40px;
    margin-right: 40px;
}

.fragment li p {
    margin: 0;
}

.fragment > img {
    width: 100%;
}

.fragment > blockquote > p {
    margin: 0;
    padding: 10px 20px;
    font-style: italic;
}

.player-reply {
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.player-reply textarea {
    width: 800px;
    margin-bottom: 10px;
}

.player-reply button {
    float: right;
}
